@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model System.IO.FileInfo[]
@{
}

<h1>Memo List</h1>

<div class="list-group">
    @foreach (var file in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">@file.Name</a>
    }
</div>
